<div class="header">
  <div class="left-froggy">
    <button mat-flat-button color="primary">Event</button>
    <button mat-flat-button color="primary">Category</button>
  </div>
  <div class="righ-froggy">
    <button mat-mini-fab color="primary">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
