<p>Event1</p>
<p>Id:{{event.id}}</p>
<p>Name:{{event.name}}</p>
<p>Description:{{event.description}}</p>
<p>Location:{{event.location}}</p>
<p>StartDate:{{event.startDate.toLocaleDateString("ro-RO")}}</p>
<p>EndDate:{{event.endDate.toLocaleDateString("ro-RO")}}</p>
