.event-card-container{
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.events-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
